body {
    margin: 0px;
    padding: 9px 9px 0 9px;
    background-color: purple;
}
.card {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 97vh;
    background-color: white;
    border-radius: 10px;
}

.card__image img {
    width: 150px;
    border-radius: 50%;
    border: 3px solid white;
    outline: 5px solid purple;
}

.card__title {
    font-size: 14px;
    color: purple;
}

.car__stars {

}

.card__description {
    margin: 0 20px;
    font-size: 17px;
}

.card__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card__button--success button {
    padding: 15px 40px;
    margin: 7px;
    font-size: 18px;
    color: purple;
    background-color: white;
    border: solid;
    border-color: purple;
    border-radius: 7px;
}

.card__button--back {
    display: flex;
    justify-content: center;
}

.card__button--back button {
    padding: 15px 40px;
    margin: 7px;
    font-size: 18px;
    color: white;
    background-color: purple;
    border: solid;
    border-color: purple;
    border-radius: 7px;
}